.idea
.vscode
.DS_Store
.classpath
.settings
.project
.externalToolBuilders
.checkstyle
.mvn/timing.properties

*.pyc
*.class
*.iml
*.ipr
*.iws
*.so
*.a
*.gch
*.cmake
*.ll
*.cbp
*.lock
*.log

*/dependency-reduced-pom.xml
*/.idea
*/.gitignore

*/*.iml

target
benchmark_outputs
node_modules
libs
CMakeCache.txt
CMakeFiles
Makefile
cmake-build-debug
cmake-build-debug-coverage
cmake-build-release
cmake-build-release-coverage

core/omni-runtime.cbp
core/config.h
bindings/java/*.log
omtest
install_manifest.txt